/* css made by: L-U-C-A-07 */
/* V:0.1 */
.iconProfile { 
	background-image: CSSIMAGE:profile; 
}

@font-face {
	font-family: 'GameFont';
	src: CSSFONT:font2;
}
#menuWindow.dark {
    background-color: #000000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 50%);
    border-top: double 20px darkorange;
    border-bottom: double 20px darkorange;
    border-left: solid 7px darkorange;
    border-right: solid 7px darkorange;
    border-radius: 60px;
}
.settingsHeader {
    background-color: black;
    width: 
}
::-webkit-scrollbar {
    background-color: transparent;
    display: none;
}
::-webkit-scrollbar-thumb {
    background: transparent;
    display:none;
}
.settingsBtn {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 200px;
}
.settingsBtn:hover {
    background-color: black;
    border: dashed 5px darkorange;
    border-radius: 200px;
    color: red!important;
}
#settSearch {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 100px;
}
#settSearch:hover {
    background-color: black;
    border: dashed 5px darkorange;
    border-radius: 100px;
    color: red !important;
}
.inputGrey2 {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 100px;
    color: white;
}
.inputGrey2:hover {
    background-color: black;
    border: dashed 5px darkorange;
    border-radius: 100px;
    color: red !important;
}
.dark .tabANew {
    border-bottom: 5px solid darkorange!important;
}
.dark .tabANew:hover {
    border-bottom: 5px solid darkorange!important;
}
.setHed {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 100px;
    padding-bottom: 20px
}
.setHed:hover {
    background-color: black;
    border: dashed 5px darkorange;
    border-radius: 100px;
}
.settName, .settNameSmall {
    border-bottom: solid darkorange;
    padding-bottom: 19px;
}
.sliderM {
    background-color: black;
    border: solid 4px darkorange;
    border-radius: 100px;
}
.sliderVal {
    background-color: black;
    border: solid 4px darkorange !important;
    border-radius: 100px;
    padding-right: 1px;
    padding-left: 1px;
}
.sliderVal:hover {
    background-color: black;
    border: dashed 4px darkorange !important;
    border-radius: 100px;
    padding-right: 1px;
    padding-left: 1px;
    color: red;
}
.slider {
    background-color: black;
    border: solid 4px darkorange;
    border-radius: 100px;
    padding-bottom: 30px;
    padding-left: 34px;
    padding-right: 30px;
}
.slider:hover {
    background-color: black;
    border: dashed 4px darkorange;
    border-radius: 100px;
    padding-bottom: 30px;
    padding-left: 34px;
    padding-right: 30px;
}
.slider:before {
    border-radius: 100px;
    background-color: darkorange;
}
input:checked+.slider {
    background-color: #ff0000;
}
input[type=color] {
    border-color: darkorange;
}
input[type=color]:hover {
    border-color: darkorange;
    border-style: dashed;
}
.openCollection {
    background-color: darkorange !important;
}
#imagePop {
    background-color: black;
    border: solid 4px darkorange;
    border-radius: 40px;
}
.imageListHeader{
    background-color: black;
    border-bottom: solid darkorange !important;
}
.xpBarB {
    height: 100%;
    background-image: linear-gradient(to right,#ff0000,#fbc02d);
    border-radius: 100px;
    border: solid 3px red;
}
.setHedS {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 100px;
}
.setHedS:hover {
    background-color: black;
    border: dashed 5px darkorange;
    border-radius: 100px;
}
.smlInput {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 100px;
}
.smlInput:hover {
    background-color: black;
    border: dashed 5px darkorange;
    border-radius: 100px;
    color: red;
}
#creatorCodeI {
    border-radius: 100px;
}
#vouchPop {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 40px;
}
#redVouch {
    border-radius: 100px
}
.redVouchBtn {
    border-radius: 100px;
}
.bigMenTabA {
    border-bottom-color: darkorange;
}
#mpSrch {
    border-radius: 100px;
}
.searchBtn {
    border-radius: 100px;
}
.loadMoreD:hover {
    background-color: black;
    border: dashed 5px darkorange;
    border-radius: 40px;
    color: red !important;
}
.loadMoreD {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 40px;
}
.hostHeader {
    background-color: black;
    border-bottom-color: darkorange;
}
#stickyHostH {
    background-color: black;
    border-top-color: darkorange;
}
.serverHeader {
    background-color: black
}
.hostCBtn {
    border-radius: 100px;
    border-color: darkorange;
}
#bidPrevBtn {
    border-radius: 100px
}
.logVersionHed {
    border-color: darkorange;
    border-radius: 100px;
}
.formInput {
    border-radius: 100px;
}
.loadoutBtn {
    border-radius: 100px
}
.selectorItem {
    background-color: black;
    border: solid 5px darkorange !important;
    border-radius: 40px;
}
.selectorItem:hover {
    background-color: black;
    border: dashed 5px darkorange !important;
    border-radius: 40px;
}
.classCard {
    background-color: black;
    border: solid 5px darkorange !important;
    border-radius: 40px;
    margin: 3px;
}
.clsXPBarC {
    background-color: red;
    border-radius: 100px;
}
.classXPBar {
    background-color: #424242;
    border-radius: 100px;
}
.classCard:hover {
    background-color: black;
    border: dashed 5px darkorange !important;
    border-radius: 40px;
    margin: 3px;
}
.settName, .settNameSmall {
    border-bottom: none;
    padding-bottom: 19px;
}
.custContainer {
    background-color: black;
    border: solid 5px darkorange !important;
    border-radius: 40px;
    width: 304px
}
#itemSearchH {
    background-color: black
}
#itemSearch {
    background-color: black;
    border: solid 5px darkorange !important;
    border-radius: 100px;
}
.skinCard {
    background-color: black;
    border: solid 5px darkorange !important;
    border-radius: 30px;
}
.skinCard:hover {
    background-color: black;
    border: dashed 5px darkorange !important;
    border-radius: 30px;
}
.skinColorItem {
    border-color: darkorange;
}
#policePopC {
    background-color: #656565;
    border-top: double 20px darkorange !important;
    border-bottom: double 20px darkorange !important;
    border-left: solid 7px darkorange !important;
    border-right: solid 7px darkorange !important;;
    border-radius: 130px;
}
#menuItemContainer {
    position: absolute;
    left: 10px;
    top: 150px;
    width: 130px;
    height: 900px;
    display: flex;
    flex-direction: column;
    border-top: double 20px darkorange;
    border-bottom: double 20px darkorange;
    border-right: solid 3px darkorange;
    border-left: solid 3px darkorange;
    border-radius: 80px;
    background-color: #000000;
    padding-bottom: 15px;
}
.menuItem:hover .menBtnIcn {
    transform: scale(1.3);
    color: #d00000!important;
}
#tlInfHold {
    z-index: 20;
    position: absolute;
    left: 13800px;
    top: 78px;
}
.buttonP {
    border: 5px solid #ff8c00!important;
    border-radius: 50px!important;
}
.button {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 6px;
    border: 4px solid #fff;
    text-align: center;
    color: #fff;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .08s;
    transition: all .08s;
    height: 30px;
    vertical-align: bottom;
    font-size: 20px!important;
    line-height: 35px;
    background-color: rgb(0 0 0);
}
.buttonR {
    border: 5px solid #ff8c00!important;
    border-radius: 50px!important;
}
.buttonO {
    border: 5px solid #ff8c00!important;
    border-radius: 50px!important;
}
#aContainer {
    cursor: pointer;
    pointer-events: auto;
    padding: 10px;
    background-color: rgb(0 0 0);
    max-height: 120px;
    max-width: 810px;
    min-width: 728px;
    min-height: 90px;
    overflow: hidden;
    display: inline-block!important;
    border-radius: 100px;
    border-color: #ff8c00;
    border-style: solid;
}
#faceItIconM {
    width: 0px;
    height: 0px;
    margin-bottom: -2px;
    margin-right: -3px;
}
.buttonPI {
    border: 5px solid #ff8c00!important;
    border-radius: 50px!important;
}
#uiBase.onMenu #voiceDisplay {
    left: 490px;
    bottom: 2200px;
}
#uiBase.onMenu #chatHolder {
    left: 200px;
    bottom: 20px;
}
#chatInputHolder {
    width: 100%;
    padding: 6px;
    padding-left: 10px;
    margin-top: 6px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.4);
    border: 1px hidden darkorange;
    pointer-events: all;
    border-radius: 100px;
    text-align: center;
    color: #fff;
}
#chatList {
    overflow-y: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
    border-radius: 15px;
    background-color: rgb(0 0 0 / 0%);
    pointer-events: all;
    position: relative;
    direction: rtl;
    text-align: center;
}
#mLevelCont {
    display: inline-block;
    background-color: rgb(0 0 0);
    border-bottom-right-radius: 10px;
    padding-left: 15px;
    padding-right: 4px;
    height: 70px;
    margin-left: 20px;
    border-radius: 55px;
}
.headerBar {
    position: absolute;
    top: 0;
    height: 70px;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    pointer-events: auto;
    border: solid 5px darkorange;
    border-radius: 35px!important;
    background-color: rgb(0 0 0);
}
#signedInHeaderBar {
    padding-right: 0!important;
    border-radius: 35px!important;
}
.progressBarInner {
    height: 100%;
    background-image: linear-gradient(to right,#ff0000,#e85400,70%,darkorange);
    transition: width 1s ease-in-out;
    border-radius: 100px;
    border: solid 1px red;
}
#customizeButton {
    display: inline-block;
    width: 300px;
    text-align: center;
    padding: 15px;
    font-size: 27px!important;
    pointer-events: all;
    padding-bottom: 22px;
    top: -77px;
}
.buttonG {
    border: 4px solid #ff8c00!important;
    border-radius: 300px!important;
}
.buttonB {
    border: 4px solid #142f94!important;
}
#policeButton {
    margin-right: 10px;
    margin-left: -80px;
    color: #fff;
    display: block;
    border-radius: 100px;
    width: 330px!important;
    top: 100px;
    left: 80px;
}
.button:hover {
    border: 3px dashed #ff8c00!important;
    color: #fff!important;
    -webkit-transform: scale(.95);
    transform: scale(.95);
}
.chatMsg {
    text-decoration: overline #ff0000 2px;
    color: #ffa707;
    text-shadow: 0px 0px 9px #ff8c00;
}
.button:hover {
    border: 3px dashed #ff8c00!important;
    color: #f00!important;
    -webkit-transform: scale(.95);
    transform: scale(.95);
}
#newsHolder {
    pointer-events: all;
    padding: 10px;
    z-index: 20;
    position: absolute;
    right: 14px;
    top: 86px;
    text-align: left;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    display: none;
}
#termsInfo {
    background-color: rgb(0 0 0);
    padding: 5px 15px 15px 20px;
    margin-right: -15px;
    border: solid 5px darkorange;
    border-radius: 100px;
}
.verticalSeparatorInline {
    display: inline-block;
    border-left: 4px solid darkorange;
    height: 45px;
    transform: translateY(9px);
}
#mapInfo:before {
    content:"css made by: L-U-C-A-07";
    font-size: 11px;
    margin-right: 20px;
    color: #ababab85;
    cursor: pointer;
}
#mapInfo:hover:before {
    content:"css made by: L-U-C-A-07";
    font-size: 24px;
    margin-right: 20px;
    color: #ffffff;
    text-decoration: underline 2px;
}
span.chatMsg {
    color: #ffa707 !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #000000;
    -webkit-box-shadow: inset 0 0 2px rgb(0 0 0)
    box-shadow: inset 0 0 2px rgb(0 0 0)/ 0%);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: #ffffff00;
}
#chatList::-webkit-scrollbar-track {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border-radius: unset;
    background-color: rgb(0 0 0 / 0%);
}
#chatSwitchHolder {
    display: none;
}
#chatInput {
    background-color: rgb(255 253 253 / 0%);
    text-align: center;
    border: none;
}
#timerDisplay {
    position: relative;
    left: 1000px;
    background-color: transparent;
    border-top: double 7px black;
    border-bottom: double 7px black;
}
#voiceDisplay {
    display: none;
}
#hudClassIcon {
    width: 103px;
    height: 103px;
    border-radius: 10px;
    margin-right: 5px;
    display: inline-block;
    background-color: rgb(0 0 0 / 0%);
}
#hudClassImg {
    border-radius: 100px;
}
#healthValueHolder {
    background-color: black;
    border: solid 3px darkorange;
    border-radius: 30px
}
#healthValue {
    color: darkorange;
}
#maxHP {
    color: darkorange;
}
.hpBSeg {
    height: 60%;
    border-radius: 100px;
}
.healthBarSeg {
    background-color: transparent;
    width: 60px;
    position: relative;
    top: 10%;
}
.leaderNameM {
    color: darkorange;
}
#leaderDisplay {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 20px
}
.countIcon {
    border: solid 3px darkorange;
    border-radius: 100px;
    background-color: black;
}
#editorBtnM {
    display: none;
}
#weapDisplay {
    position: absolute;
    right: 1050px;
    top: 1000px
}
#igXPBar {
    background-color: black;
}
#endAContainer {
    display: none;
}
.endCard {
    background-color: black;
    border-left: solid 5px darkorange;
    border-radius: 40px;
    border-right: solid 5px darkorange;
    border-top: double 20px darkorange;
    border-bottom: double 20px darkorange;
    padding-top: 0px;
}
.debugInfo {
    position: absolute;
    right: 100px;
}
#modDropper {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 200px;
}
#modDropper:hover {
    background-color: black;
    border: dashed 5px darkorange;
    border-radius: 200px;
    color: red;
}
.accountInput {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 200px;
}
.accountInput:hover {
    background-color: black;
    border: dashed 5px darkorange;
    border-radius: 200px;
    color: red;
}
a {
    color: red;
}
.lnkTw{
    border-radius: 100px;
}
b {
    color: #FFF!important;
    font-weight: 400;
}
#policePopC {
    background-color: #404040 !important;
    border-top: double 20px darkorange !important;
    border-bottom: double 20px darkorange !important;
    border-left: solid 7px darkorange !important;
    border-right: solid 7px darkorange !important;;
    border-radius: 130px;
}
#trustPrgHD {
    border-radius:100px
}
#trustProg {
    border-radius: 100px
}
#chatInputHolder {
    width: 100%;
    padding: 6px;
    padding-left: 10px;
    margin-top: 6px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: rgb(0 0 0);
    border: 5px solid darkorange;
    pointer-events: all;
    border-radius: 100px;
    text-align: center;
    color: #fff;
}
#chatInputHolder:hover {
    width: 100%;
    padding: 6px;
    padding-left: 10px;
    margin-top: 6px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: rgb(0 0 0);
    border: 5px dashed darkorange;
    pointer-events: all;
    border-radius: 100px;
    text-align: center;
    color: #f00;
}
#killCardHolder {
    pointer-events:auto;
    margin-top:2px;
    padding:30px;
    background-color:rgb(0 0 0);
    border: 5px solid darkorange;
    border-radius:100px;
    width: 500px;
    position: absolute;
    right: 1000px;
}
#matchVoteHolder {
    background-color: black;
    border: 5px solid darkorange;
    border-radius: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 0px;
}
#instructionsUpdate {
    background-color: black;
    border: 5px solid darkorange;
    border-radius: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.matchVoteThumb {
    border-radius: 30px;
}
#ammoVal {
    color: darkorange;
}
#ammoDisplay {
    background-color: black;
    border: solid 5px darkorange;
    border-radius: 100px;
}
#ammoMax {
    color: darkorange;
}
#itemViewPop, #itemPurcPop {
    background-color: black;
    border: solid 5px darkorange !important;
    border-radius: 100px;
    padding: 40px
}
/* css made by: L-U-C-A-07 */
